Host rke2-init-server 
  Hostname 160.1.52.210
  User ec2-user
  IdentityFile ~/.ssh/rancher-laptop

Host rke2-server-0
  Hostname 160.1.44.246
  User ec2-user
  IdentityFile ~/.ssh/rancher-laptop

Host rke2-server-1 
  Hostname 160.1.117.208
  User ec2-user
  IdentityFile ~/.ssh/rancher-laptop
