Host rke2-init-server 
  Hostname 52.61.254.38
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host rke2-server-0
  Hostname 52.61.83.158
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host rke2-server-1 
  Hostname 15.205.210.64
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop
